.foot {
    height: 30vh;
    width: 100vw;
    background-color: rgb(206, 153, 255);
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.box1{
    // background-color: antiquewhite;
    height: 30vh;
    width: 33vw;
}
.box2{
    // background-color: aqua;
    height: 30vh;
    width: 33vw;
}
.box3{
    // background-color: aquamarine;
    height: 30vh;
    width: 33vw;
}
.info1{
    height: 25vh;
    width: 30vw;
    margin-left: 4%;
    // background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info2{
    height: 25vh;
    width: 30vw;
    margin-left: 4%;
    // background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info3{
    height: 25vh;
    width: 30vw;
    margin-left: 4%;
    // background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}