<!-- <p>footer works!</p> -->
<div class="foot">
    <div class="box1">
        <div class="info1">
            <p><strong>About Us</strong></p>
            <!-- <br> -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit earum ad facilis esse maiores quibusdam, libero nesciunt deleniti veniam nobis non soluta minus qui? Sint ducimus eligendi suscipit asperiores ratione!
        </div>
    </div>
    <div class="box2">
        <div class="info2">
            <p><strong>Information</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit earum ad facilis esse maiores quibusdam, libero nesciunt deleniti veniam nobis non soluta minus qui? Sint ducimus eligendi suscipit asperiores ratione!
        </div>
    </div>
    <div class="box3">
        <div class="info3">
            <p><strong>Connect With Us</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit earum ad facilis esse maiores quibusdam, libero nesciunt deleniti veniam nobis non soluta minus qui? Sint ducimus eligendi suscipit asperiores ratione!</div>
    </div>
</div>