.contact-section {
    height: 100vh;
    background-color: aquamarine;
    text-align: center;
    background: #eee;
    font-family: 'Seaweed Script', cursive;
    font-size: 1.5em;
   
}

   
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-top: 4px;
    margin-bottom: 12x;
    resize: vertical;
    box-sizing: border-box;
    align-items: left;
   
   
  }
  input[type=email], select, textarea {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-top: 4px;
    margin-bottom: 12px;
    resize: vertical;
    box-sizing: border-box;
 
  }
  
  input[type=submit] {
 
    background: rgba(135, 141, 233, 0.75);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 50px;
border: 3px solid rgba(7, 21, 211, 0.18);
  }
  
  input[type=submit]:hover {
    background-color: #9fd8e9;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    
    background-color: #f2f2f2;

    padding: 10px;

  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: right;
    width: 50%;
    margin-top: 6px;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }