<section id="services" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title"><h1>Services Section</h1></div>
                <div id="btns">
                    <div class="btn" onclick="window.location='#'">
                        <svg class="icon">
                            <use xlink:href="#helmet"></use>&nbsp;
                        </svg>
                        <h2>Heading</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente impedit a id
                            dolorem nesciunt debitis veniam, eos libero quidem recusandae fuga quod iste quibusdam rerum
                            molestiae est ad assumenda.</p>
                    </div>
                    <div class="btn" onclick="window.location='#'">
                        <svg class="icon">
                            <use xlink:href="#cutters"></use>&nbsp;
                        </svg>
                        <h2>Heading</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint nesciunt quos optio labore
                            minima. Quidem esse praesentium culpa architecto veniam provident minima quam deserunt,
                            doloremque numquam ipsum nobis ex fugiat!</p>
                    </div>
                    <div class="btn" onclick="window.location='#'">
                        <svg class="icon">
                            <use xlink:href="#heart"></use>&nbsp;
                        </svg>
                        <h2>Heading</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, harum! Sequi blanditiis
                            aperiam saepe fugit iure aut! Quasi temporibus a suscipit, voluptatum libero id explicabo
                            ipsam iure vero similique deserunt.</p>
                    </div>
                    <div class="btn" onclick="window.location='#'">
                        <svg class="icon">
                            <use xlink:href="#caution"></use>&nbsp;
                        </svg>
                        <h2>Heading</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi vero ad unde eos vitae libero
                            maiores a exercitationem in explicabo tempore provident quaerat porro voluptates magnam,
                            laborum rerum! Temporibus, rem!</p>
                    </div>
                </div>
                <div id="btns1">
                    <div class="btn" onclick="window.location='#'">
                        <svg class="icon">
                            <use xlink:href="#helmet"></use>&nbsp;
                        </svg>
                        <h2>Heading</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente impedit a id
                            dolorem nesciunt debitis veniam, eos libero quidem recusandae fuga quod iste quibusdam rerum
                            molestiae est ad assumenda.</p>
                    </div>
                    <div class="btn" onclick="window.location='#'">
                        <svg class="icon">
                            <use xlink:href="#cutters"></use>&nbsp;
                        </svg>
                        <h2>Heading</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint nesciunt quos optio labore
                            minima. Quidem esse praesentium culpa architecto veniam provident minima quam deserunt,
                            doloremque numquam ipsum nobis ex fugiat!</p>
                    </div>
                    <div class="btn" onclick="window.location='#'">
                        <svg class="icon">
                            <use xlink:href="#heart"></use>&nbsp;
                        </svg>
                        <h2>Heading</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, harum! Sequi blanditiis
                            aperiam saepe fugit iure aut! Quasi temporibus a suscipit, voluptatum libero id explicabo
                            ipsam iure vero similique deserunt.</p>
                    </div>
                    <div class="btn" onclick="window.location='#'">
                        <svg class="icon">
                            <use xlink:href="#caution"></use>&nbsp;
                        </svg>
                        <h2>Heading</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi vero ad unde eos vitae libero
                            maiores a exercitationem in explicabo tempore provident quaerat porro voluptates magnam,
                            laborum rerum! Temporibus, rem!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>